*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../Images/food3.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

body{
	font-size: 20px;
	overflow-x: hidden; 
	color: white;
	font-family: 'Flamenco', cursive;
}

.clearfix:after{
	content:".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

.row{
	max-width:1180px;
	margin:0 auto;
}
.logo{
	height:120px;
	width:auto;
	float:left;
	margin-top: 20px;
}
.main-nav{
	float :right;
	margin-top: 60px;

}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 20px;
}

.main-nav li a{
	padding: 5px  0;
	color:#fff;
	text-decoration: none;
	font-size: 90%;
	font-weight: bolder;
}

.main-nav li a:hover{
	border-bottom: 2px solid #bf55ec;
}



.main-content-header {
	width: 1180px;
	position: absolute;
	top:40%;
	left:10%;
	color:black;
}

h1{
	font-size: 240%
	word-spacing: 5px;
	letter-spacing: 3px;
	margin-bottom: 30px;
	font-weight: bolder;
	color:white;
}

.btn1{
	display: inline-block;
	padding: 10px 30px;
	font-weight:lighter;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s; 
	background-color: transparent;
	color:#bf55ec;
	margin-right: 15px;
	border: 1px solid #bf55ec;

}

.btn1:hover{
	background-color: white;

}


.colorchange
{
	animation: colorlove 1s infinite;
}

@keyframes colorlove{
	0%{color:red;}
	25%{color:white;}
	50%{color:black;}
	100%{color:#bf55ec;}
}

.mobile-icon{
	display: none;
}
@media only screen and (max-width:1180px){
	.main-content-header {
		width:100px;
		padding:2px;
	}
}

@media only screen and (max-width:998px){
	h1{ font-size: 200%; }
}

@media only screen and (max-width:768px){
	h1{ font-size: 180%; }
	.main-nav li{
		
		display: block;
		margin-top: 10px;
	}
	.main-nav{ float: left; }

	.mobile-icon{
		display:inline-block;
		color:white;
		float:right;
		margin-top: 30px;
		margin-right: 20px;
	}


}


@media only screen and (max-width:768px){
	.btn1{
		margin-bottom: 0px;
	}
	h1{ font-size: 140%; }
}
